<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hfut.across.backend.dao.RoomMapper">
    <select id="getRoomDetail" resultType="edu.hfut.across.backend.entity.Room">
        select * from room where roomNumber = #{roomNumber};
    </select>
    <insert id="subscribe">
        insert into user_room(userId, roomId)
         values
         ( #{userId}, #{roomId} );
    </insert>
    <delete id="cancelSub">
        delete from user_room where (userId = #{userId} and roomId = #{roomId} )
    </delete>
    <select id="getSubInform" resultType="edu.hfut.across.backend.entity.User_Room">
        select * from user_room where (userId = #{userId} and roomId = #{roomId} )
    </select>
</mapper>